<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>커뮤니티</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans">
<link rel="stylesheet" th:href="@{/css/styles-merged.css}">
<link rel="stylesheet" th:href="@{/css/style.min.css}">
<link rel="stylesheet" th:href="@{/css/community.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

	<!-- 검색창 -->
	<div class="probootstrap-search" id="probootstrap-search">
		<a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
		<form action="#">
			<input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
		</form>
	</div>

	<!-- 페이지 -->
	<div class="probootstrap-page-wrapper">
	
		<!-- 헤더 -->
		<div class="probootstrap-header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
						<span><i class="icon-location2"></i>Brooklyn, NY 10036, United States</span>
						<span><i class="icon-phone2"></i>+1-123-456-7890</span>
						<span><i class="icon-mail"></i>info@probootstrap.com</span>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
						<ul>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook2"></i></a></li>
							<li><a href="#"><i class="icon-instagram2"></i></a></li>
							<li><a href="#"><i class="icon-youtube"></i></a></li>
							<li><a href="#" class="probootstrap-search-icon js-probootstrap-search"><i class="icon-search"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- 네비게이션 바 -->
		<nav class="navbar navbar-default probootstrap-navbar">
			<div class="container">
				<div class="navbar-header">
					<div class="btn-more js-btn-more visible-xs">
						<a href="#"><i class="icon-dots-three-vertical "></i></a>
					</div>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html" title="ProBootstrap:Enlight">Enlight</a>
				</div>
				<div id="navbar-collapse" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="index.html">Home</a></li>
						<li><a href="courses.html">Courses</a></li>
						<li><a href="teachers.html">Teachers</a></li>
						<li><a href="events.html">Events</a></li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">Pages</a>
							<ul class="dropdown-menu">
								<li><a href="about.html">About Us</a></li>
								<li><a href="courses.html">Courses</a></li>
								<li><a href="course-single.html">Course Single</a></li>
								<li class="active"><a href="gallery.html">Gallery</a></li>
								<li class="dropdown-submenu dropdown">
									<a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Sub Menu</span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Second Level Menu</a></li>
										<li><a href="#">Second Level Menu</a></li>
										<li><a href="#">Second Level Menu</a></li>
										<li><a href="#">Second Level Menu</a></li>
									</ul>
								</li>
								<li><a href="news.html">News</a></li>
							</ul>
						</li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- 본문 상단 -->
		<section class="probootstrap-section probootstrap-section-colored">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-left section-heading mb0">
						<h1 class="mb0">커뮤니티</h1>
					</div>
				</div>
			</div>
		</section>

		<!-- 본문 중단 -->
		<section class="probootstrap-section probootstrap-bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="portfolio-feed three-cols">
							<div class="communityBoard commnityList">
							
								<!-- 게시판 내 검색 -->
								<form name="searchForm" class="searchForm">
									<select name="sType" th:value="${sType}">
										<option value="snc">제목 + 내용</option>
										<option value="usr">작성자</option>
										<option value="sbj">제목</option>
										<option value="cnt">내용</option>
									</select>
									<input type="text" name="sKeyword" th:value="${sKeyword}">
									<button type="submit" class="searchBtn">검색</button>
								</form>
								
								<!-- 게시판 테이블 -->
								<div id="communityTable">
									<table class="table">
										<tr>
											<th class="tbcenter">번호</th>
											<th class="tbcenter">제목</th>
											<th class="tbcenter">작성자</th>
											<th class="tbcenter">작성일</th>
											<th class="tbcenter">조회 수</th>
											<th class="tbcenter">좋아요</th>
										</tr>
										<tr th:each="pagingList: ${pagingList}">
											<td class="tbcenter">[[${pagingList.id}]]</td>
											<td><a th:href="@{view(id=${pagingList.id})}">[[${pagingList.subject}]]</a></td>
											<td class="tbcenter">[[${pagingList.username}]]</td>
											<td class="tbcenter">[[${#temporals.format(pagingList.createdAt, 'yyyy-MM-dd')}]]</td>
											<td class="tbcenter">[[${pagingList.viewCnt}]]</td>
											<td class="tbcenter">[[${pagingList.communityLikes.size}]]</td>
										</tr>
									</table>
								</div>
								
								<!-- 버튼 -->
								<div class="cbBtn">
									<button type="button" class="btn" onclick="location.href='write'">글 작성</button>
								</div>
								
								<!-- 페이지 네비게이션 -->
								<form id="pageForm" name="pageForm">
									<div th:if="${not #strings.isEmpty(sKeyword)}">
										<input type="hidden" id="sType" name="sType" th:value="${sType}">
										<input type="hidden" id="sKeyword" name="sKeyword" th:value="${sKeyword}">
									</div>
									<input type="hidden" id="pageNum" name="pageNum" th:value="${pageNum}">
									<ul class="pagination">
										<li><a href="#" id="startPage">처음</a></li>
										<li><a href="#" id="minusPage">&lt;</a></li>
										
										<!-- 페이지 번호로 이동 -->
										<li th:each="paging: ${#numbers.sequence(0, totalPage - 1)}">
											<a href="#" th:id="pageNum + ${pagingStat.index}" th:text="${pagingStat.index + 1}"></a>
											<script th:inline="javascript">
											// 에러 아닌데 에러 뜸
											$([['#' + ${'pageNum' + pagingStat.index}]]).click(function() {
												document.getElementById("pageNum").value = [[${pagingStat.index}]];
												
												movePage();
											});
											</script>
										</li>
										
										<li><a href="#" id="plusPage">&gt;</a></li>
										<li><a href="#" id="endPage">끝</a></li>
									</ul>
								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- 본문 하단 -->
		<section class="probootstrap-cta">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					</div>
				</div>
			</div>
		</section>

		<!-- 푸터 -->
		<footer class="probootstrap-footer probootstrap-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="probootstrap-footer-widget">
							<h3>About The School</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro provident suscipit natus a cupiditate ab minus illum quaerat maxime inventore Ea consequatur consectetur hic provident dolor ab aliquam eveniet alias</p>
							<h3>Social</h3>
							<ul class="probootstrap-footer-social">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-github"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-youtube"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-md-push-1">
						<div class="probootstrap-footer-widget">
							<h3>Links</h3>
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">Courses</a></li>
								<li><a href="#">Teachers</a></li>
								<li><a href="#">News</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="probootstrap-footer-widget">
							<h3>Contact Info</h3>
							<ul class="probootstrap-contact-info">
								<li><i class="icon-location2"></i> <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
								<li><i class="icon-mail"></i><span>info@domain.com</span></li>
								<li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="probootstrap-copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-left">
							<p>&copy; 2017 <a href="https://probootstrap.com/">ProBootstrap:Enlight</a>. All Rights Reserved. Designed &amp; Developed with <i class="icon icon-heart"></i> by <a href="https://probootstrap.com/">ProBootstrap.com</a></p>
						</div>
						<div class="col-md-4 probootstrap-back-to-top">
							<p><a href="#" class="js-backtotop">Back to top <i class="icon-arrow-long-up"></i></a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		
	</div>

	<!-- 히든 ui -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="pswp__bg"></div>
		<div class="pswp__scroll-wrap">

			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>

			<div class="pswp__ui pswp__ui--hidden">
				<div class="pswp__top-bar">
					<div class="pswp__counter"></div>
					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
					<button class="pswp__button pswp__button--share" title="Share"></button>
					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div> 
				</div>
				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- 이거 있으면 a, button 안됨. 대신 빼면 페이지에 들어간 애니메이션도 다 빼야됨.
	<script th:src="@{/js/scripts.min.js}"></script>
	<script th:src="@{/js/main.min.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	-->

</body>
<script th:inline="javascript">
$("#startPage").click(function() {
	document.getElementById("pageNum").value = 0;
	
	movePage();
});

$("#minusPage").click(function() {
	var pageNum = document.getElementById("pageNum").value;
	
	if(pageNum == 0) {
		alert("첫페이지입니다");
	} else {
		document.getElementById("pageNum").value--;
		movePage();
	}
});

// 에러 아닌데 에러 뜸...
$("#plusPage").click(function() {
	var pageNum = document.getElementById("pageNum").value;
	
	if(pageNum == [[${totalPage - 1}]]) {
		alert("마지막 페이지입니다");
	} else {
		document.getElementById("pageNum").value++;
		movePage();
	}
});

// 에러 아닌데 에러 뜸...
$("#endPage").click(function() {
	document.getElementById("pageNum").value = [[${totalPage - 1}]];
	
	movePage();
});

function movePage() {
	var pageForm = document.getElementById("pageForm");
	
	pageForm.submit();
}
</script>
</html>