 <!doctype html>
  <html xmlns:th="http://www.thymeleaf.org">
  <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <body>
      <form action="joinOk" method="post">
          <div class="container">
              <div class="form-group">
                  <label for="exampleInputEmail1">nickname</label> <input
                      type="name" class="form-control" id="exampleInputEmail1"
                      name="username" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
<!--               <div class="form-group">
                  <label for="exampleInputPassword1">Name</label> <input type="text"
                      class="form-control" id="exampleInputPassword1" name="name"
                      placeholder="name">
              </div> -->
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
  </body>
  </html>